body{
  background-image:url('./image.jpg');
    background-repeat: no-repeat;
    height: -webkit-fill-available;
    background-size: cover;
  }
    .color{
      color: red;
    }
.wrapper {
  background: red;
}
.signup{
  margin:100px auto;
  width:70%;
}
.login{
  margin: 100px auto;
  width: 70%;
}
.form{
  margin: 0 auto;
  text-align: center
}
.home{
  margin: 100px auto;
    
}
#send{
  margin-top: 10px;
}